.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    flex: 1;
    height: 100%;
    background-color: #fafafa;
}

.left_side {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* 如果是垂直排列 */
    justify-content: center; /* 上下置中 */
}

.right_side {
    flex: 1;
    display: flex;
    flex-direction: column;
}
