* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
}

:root {

    --color-bg: #fff;
    --color-panel: #fff;
    --color-text: #000;
    --color-border: #000;

    --font-main: Arial, sans-serif;
    /* --font-main: system-ui, sans-serif; */

    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;

    --radius: 4px;
    --element-radiu: 8px;
}
